/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {
  font-family: 'Dongle', sans-serif;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: bgGradient 4s ease infinite;
  -moz-animation: bgGradient 4s ease infinite;
  animation: bgGradient 4s ease infinite;
}

@keyframes bgGradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
